= stylesheet_pack_tag    'authentication', 'data-turbolinks-track': 'reload'

.col-lg-5.mx-auto
  .card
    .h2.card-header
      Log in
    .card-body
      .card-text
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .row.form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
          .row.form-group
            = f.label :password
            = f.password_field :password, autocomplete: "current-password", class: 'form-control'
          - if devise_mapping.rememberable?
            .row.form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'
          .row.actions
            =f.button :submit, class:"btn btn-lg btn-block btn-primary" do
              %i.fas.fa-sign-in-alt
              Log in

          = render "devise/shared/links"
